<%= link_to recipe, {:style => 'text-decoration: none; color: black'} do%>
  <div class="card flex-row mb-2" style='height: 120px' id="<%= dom_id recipe %>">
    <div class="card-body w-50 d-flex flex-column justify-content-center">
      <h3 class="card-title m-2"><%= recipe.name %></h3>
      <% if can? :destroy, recipe %> 
        <%= button_to "Delete recipe", recipe_path(recipe.id), 
          class:"btn btn-outline-danger float-right m-2 mr-5", method: :delete %> 
      <% end %> 
    </div>
    <div class="card-body w-50 d-flex flex-column">
      <h4>Description:</h4>
      <%= recipe.reduced_description %>
    </div>
  </div>
<% end %>

   
