<div class="page-title d-flex align-items-center">
  <h1>Recipes Show</h1>
</div>
<hr>

<div class="recipe-details position-relative">  

  <table class="table table-dark my-5">
  <thead>
    <tr>
      <th class="bg-white" style='color: black; text-align: end' scope="col"><%= @recipe.name.upcase%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Preparation time:</th>
      <td><%= @recipe.preparation_time %> minutes</td>     
    </tr>
    <tr>
      <th scope="row">Cooking Time:</th>
      <td><%= @recipe.cooking_time %> minutes</td>   
    </tr>   
  </tbody>
</table>

<h4>Steps: </h4>
  <% @recipe.steps.each do |step| %>
    <p><%= step %></p>
  <% end %>
  <%= form_with model: @recipe, url: recipe_path, method: :put, scope: @recipe, 
  html: { class: 'recipe-form-details position-absolute top-0 end-0' } do |f| %>
    <div class="field form-switch ps-0">      
      <%= f.check_box :public, class: 'form-check-input ms-2', id: 'public-switch-check' %>
      <% if can? :manage, @recipe %>
        <%= f.submit "Set public", class: 'btn btn-outline-dark' %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="action-buttons w-100 d-flex justify-content-between">
  
  <%= form_with url: general_shopping_list_path(current_user.id, :recipe => @recipe.id), method: :put do |f| %>
    <%= f.submit "Generate Shopping List", class: 'btn btn-primary' %>
  <% end %>
  <% if can? :manage, @recipe %>
    <%= link_to "Add ingredient",  new_recipe_recipe_food_path(@recipe), 
      class: 'btn btn-secondary' %>
  <% end %>

</div>
<hr>

<%= render "recipe_foods", recipe: @recipe %>

<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>
</div>
