<%= form_with model: @recipe_food, url: recipe_recipe_foods_path(@recipe, :food_id => food.id), method: :post, 
  scope: @recipe_food, html: { class: 'recipe-food-form-edit' } do |f| %>
  <tr class="row px-3 mx-0">
    <td class="col-4 mb-1"><%= food.name %></td>
    <td class="col-2 mb-1"><%= food.measurement_unit %></td>
    <td class="col-2 mb-1 me-3"><%= f.number_field :quantity, step: '0.1', class: 'w-100' %></td>
    <td class="col-3 mb-1 p-0"><%= f.submit 'Add ingredient', class: 'p-1 btn btn-success text-white' %></td>
  </tr>
<% end %>