<h1>Edit Recipe Food</h1>

<h2>You are editing <%= @recipe.name %></h2>

<div class="recipe-food-update-forms container-fluid d-flex">
  <%= form_with model: @recipe_food, url: recipe_recipe_food_path(@recipe, @recipe_food), method: :put, scope: @recipe_food, html: { class: 'recipe-food-form-edit' } do |form| %>
    <% if @recipe_food.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@recipe_food.errors.count, "error") %> prohibited this recipe food from being saved:</h2>

        <ul>
          <% @recipe_food.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %> 
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Food</th> <th scope="col">Quantity <em>(<%= @food.measurement_unit %>)</em></th>
        </tr>
      </thead>
      <tbody>
        <tr id="<%= dom_id @recipe_food%>">
          <th scope="row"><%= @food.name%></th>
          <td>
            <div class="field">
              <%= form.text_field :quantity, placeholder: "Enter a quantity", class: 'form-control' %>
            </div>
          </td>
        </tr>
      </tbody>             
    </table>
    <br>
    <div class="actions">
      <%= form.submit "Update Quantity" %>
    </div>
  <% end %>
  <%= form_with model: @food, url: recipe_food_update_path(@food, :recipe => @recipe), method: :put, scope: @food, html: { class: 'food-form-edit' } do |form| %>
    <% if @food.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@food.errors.count, "error") %> prohibited this recipe food from being updated:</h2>

        <ul>
          <% @food.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Value <em>(USD $)</em></th>
        </tr>
      </thead>
      <tbody>
        <tr id="<%= dom_id @food%>">
          <td>
            <div class="field">
              <%= form.text_field :price, placeholder: "Enter a price", class: 'form-control' %>
            </div>
          </td>
        </tr>
      </tbody>             
    </table>
    <br>
    <div class="actions">
      <%= form.submit "Update Value" %>
    </div>
  <% end %>
</div>
<br>

<div>
  <%= link_to "Go back", :back %>
</div>